<mat-toolbar class="navbar">Resume Upload&nbsp;|&nbsp;<p class="brand-auburn">Auburn</p>&nbsp;<p class="brand-hacks">Hacks</p>&nbsp;2019</mat-toolbar>

<h1 class="title">Resume Upload</h1>
<!-- Upload form -->
<div class="content">
    <form>
        <button mat-raised-button class="upload-button">Choose Résume</button>
        <br /><br /><br /><br />
        
        
        <mat-checkbox color="warn">You agree to all the terms and privacy policy.</mat-checkbox><br /><br />
        <button mat-raised-button class="upload-button">Agree & Upload</button>
    </form>
</div>