* {
    font-family: 'Google Sans', sans-serif;
}

.brand-name {
    font-size: 26px;
}
.navbar {
    background: #03244d;
    text-align: center;
    color: whitesmoke;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 80px;
}

.content {
    padding-top: 9em;
    max-width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
}

.upload-button {
    width: 150px;
    height: auto;
    color: whitesmoke;
    background: #03244d;
    border-radius: 50px;
}

.return-button {
    width: fit-content; 
    margin-left: auto; 
    margin-right: auto; 
    display: block;
    color: whitesmoke;
    background: #03244d;
    border-radius: 50px;
}

.title {
    max-width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
}

.sidenav {
    width: fit-content;
    height: auto;
}